@{
    Layout = null;
}

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div id="app">

    <h1>Command Launcher Vue</h1>

    <h2>The easiest way to launch a command</h2>
    <div>
        <label>

            <select class="command" name="Command" v-model="selectedCommand">
                <option value="0" disabled hidden>Select a command :</option>
                <option v-for="(command, index) in commands" :key="index" :value="index">
                    {{ command.commandName }}
                </option>
            </select>

        </label>
        <br />
        <input type="button" value="Load" v-on:click="getCommands" />
        <input type="button" value="Launch" v-on:click="clickCommand" />
    </div>



    <textarea id="taResult" rows="15" cols="40" class="result" v-model="commandArea">
    </textarea>

</div>

<script>
    Vue.createApp({
        data() {
            return {
                selectedCommand: null,
                commandArea: '',
                commands: []
            }
        },
        methods: {
            clickCommand: function () {
                axios
                    .get('/Home/Launch', {
                        params: {
                            'Command': this.selectedCommand
                        }
                    })
                    .then(response => {
                        (this.commandArea += response.output);
                    });
            },
            getCommands: function () {
                axios
                    .get('/Home/ListCommand')
                    .then(response => {
                        (this.commands = response);
                    });
            }
        }
    }).mount('#app')
</script>